<section class="accordion">
  <h2>{{ section.settings.Heading }}</h2>
  {% for block in section.blocks %}
    <div class="faq">
      <div class="question">
      <h3>{{ block.settings.Question}}</h3>
      <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="10px" viewBox="0 0 1024 1024" class="icon" version="1.1"><path d="M903.232 256l56.768 50.432L512 768 64 306.432 120.768 256 512 659.072z" fill="#000000"/></svg>
      </div>
      <div class="answer">
      </div>
    
    </div>
  {% endfor %}
  
</section>

{% schema %}
  {
    "name": "FAQs",
    "settings": [
      {
        "type":"text",
        "id":"Heading",
        "label":"Title",
        "default":"Frequently Asked Questions"
      }
    ],
    "presets": [
      {
        "name":"FAQs",
        "category":"FAQs"
      }
    ],
    "blocks":[{
      "type":"accordion",
      "name":"questions",
      "settings":[
        {
          "type":"textarea",
          "id":"Question",
          "label":"Questions",
          "default":"Sed do eiusmod tempor incididunt ut labore et?"
        }
      ]
    }]
  }
{% endschema %}