<section class="FAQs">
  <h2>{{ section.settings.Heading }}</h2>
  
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type":"text",
        "id":"Heading",
        "label":"Title",
        "default":"Frequently Asked Questions"
      }
    ]
  }
{% endschema %}