<section class="accordion">
  <h2>{{ section.settings.Heading }}</h2>
  {% for block in section.blocks %}
    <div class="faq">
      <div class="question">
      </div>
      
    </div>
  {% endfor %}
  
</section>

{% schema %}
  {
    "name": "FAQs",
    "settings": [
      {
        "type":"text",
        "id":"Heading",
        "label":"Title",
        "default":"Frequently Asked Questions"
      }
    ],
    "presets": [
      {
        "name":"FAQs",
        "category":"FAQs"
      }
    ],
    "blocks":[{
      "type":"accordion",
      "name":"questions",
      "settings":[
        {
          "type":"textarea",
          "id":"Question",
          "label":"Questions",
          "default":"Sed do eiusmod tempor incididunt ut labore et?"
        }
      ]
    }]
  }
{% endschema %}