<div class="grid-container">
  <article>
    {% if section.settings.pet_image != blank %}
      <img src="{{ section.settigs.pet_image |img_url:'1024x1024'}}">
    {% else %}
      <img src="{{ 'cat.jpg' | asset_url}}">
    {% endif %}
    <div class="image-text">
      <h2>{{ section.settings.text_header }}</h2>
      <p> {{ section.settings.text_paragraph }}
      </p>
    </div>
  </article> 
</div>

{% schema %}
  {
    "name": "pImage With Text",
    "settings": [
      {
        "type":"image_picker",
        "id":"pet_image",
        "label":"Pick a image"      
      },
      {
        "type":"text",
        "id": "text_header",
        "label":"Heading",
        "default": "All For The Furbabies"
      },
      {
        "type":"textarea",
        "id": "text_paragraph",
        "label": "Text Area",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. "
      }
    ],
    "presets": [
      {
        "name": "pImage with Text",
        "category":"pImage with Text"       
      }      
    ]
  }
{% endschema %}