<section class="review-container ">
  <h2>{{section.settings.Heading}}</h2>
  <div class="swiper-container ">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="left" id="leftArrow">
  <polygon points="15.293 3.293 6.586 12 15.293 20.707 16.707 19.293 9.414 12 16.707 4.707 15.293 3.293"/>
  </svg>
    <div class="slide-content">
      <div class="swiper-wrapper ">             
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <div class="card">
              <div class="image-content">
                <div class="card-image">
                  <img src="{{block.settings.ReviewImage | img_url:'500X500'}}" alt="Image" class="card-img">          
                </div>  
                </div>         
              <div class="card-content">              
                <p class="description">{{block.settings.textarea}}</p>
                <h4 class="reviewer">-{{block.settings.text}}</h4>
              </div>             
            </div>
          </div> 
        {% endfor %} 
        </div>
      </div> 
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="right" id="rightArrow">
      <polygon points="7.293 4.707 14.586 12 7.293 19.293 8.707 20.707 17.414 12 8.707 3.293 7.293 4.707"/>
      </svg>
    </div>
</section>

{% schema %}
{
  "name": "Reviews",
  "settings": [
    {
      "type":"text",
      "id":"Heading",
      "label":"Heading",
      "default": "Sitmag Amet Facilisis En Magna Etiam"
    }    
    ],
    "presets":[
      {
        "name":"Reviews",
        "category":"Review"
      }
    ],
    "blocks": [
      {
        "type":"text",
        "name":"Reviews",
        "settings":[
          {             
          "id": "ReviewImage",
          "type": "image_picker",
          "label": "Pick a image"         
          },
          {
            "id":"text",
            "type":"text",
            "label":"Reviewer Name",
            "default":" Feugiat Pretium"
          },
          {
            "id":"textarea",
            "type":"textarea",
            "label":"Reviewer Says",
            "default":"Vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque"
          }
        ]
      }
    ]
}
{% endschema %}