.front-page-banner {
  padding: 15px;
  position: relative;
}

.front-page-banner .Headings {
  display: flex;
  justify-content: space-between; /* Align items at the center and the right */
  align-items: center;
}

.front-page-banner .Headings .icon {
  font-weight: 900;
}

.front-page-banner .Headings .heading a {
  color: #151515 !important;
  text-decoration: none;
  position: relative;
  border-bottom: 2px solid transparent; /* Add bottom border */
}

.front-page-banner .Headings .heading a:hover {
  border-color: #151515; /* Change border color on hover */
}

.image-section img {
  width: 100%;
  object-fit: cover;
}


.swiper-container {
  overflow: hidden; 
  margin-top: 30px;
}
.swiper-container,
.swiper-slide {
  margin: 0; 
  padding: 0; 
}

.swiper-slide {
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  fill: grey; 
}
.swiper-pagination-current,
.swiper-pagination-total {
  color: #151515; /* Adjust the color as needed */
  font-weight: bold; /* Add additional styles as needed */
}
