.front-page-banner{
  padding:15px;
}

.front-page-banner .Headings{
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.front-page-banner .Headings .icon{
  position:absolute;
  right: 0;
  font-weight:900;
}
.front-page-banner .Headings a{
  color: #151515;
  text-decoration:none;
  position:relative;
}

.front-page-banner .Headings a::after {
  content: "";
  position: absolute;
  
  bottom: 1px;
  height: 1px;
  background-color: #151515;
}