.front-page-banner{
  padding:15px;
}

.front-page-banner .Headings{
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.front-page-banner .Headings .icon{
  position:absolute;
  right: 0;
  font-weight:900;
}
.front-page-banner .Headings .heading {
  color: #151515 !important;
  text-decoration:none;
  position:relative;
   border-bottom: 2px solid #151515;
}

.image-section img {
  aspect-ratio:3/3;
  width: 100%;
  object-fit: cover;
}
.swiper-container {
  overflow: hidden; 
  margin-top: 30px;
}
.swiper-container,
.swiper-slide {
  margin: 0; 
  padding: 0; 
}

.swiper-slide {
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  fill: grey; 
}
.swiper-pagination-current,
.swiper-pagination-total {
  color: #151515; /* Adjust the color as needed */
  font-weight: bold; /* Add additional styles as needed */
}
